@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  outline: none;
  font-family: "Figtree", sans-serif;
}
@layer components {
  * {
    @apply max-md:select-none scrollbar-thin  scrollbar-thumb-gray-200 dark:scrollbar-thumb-gray-400  scrollbar-track-gray-50 dark:scrollbar-track-gray-700/50;
  }
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
